/* global */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

/* fonts */
.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* color */
..white {
  color: #fff;
}

.black {
  color: #0000;
}

.color-1 {
  color: #2d4059;
}

.color-2 {
  color: #ea5455;
}

.color-3 {
  color: #decdc3;
}

.color-4 {
  color: #e5e5e5;
}

/* main */
/* isi html tag disini */
body {
}
/* id */
/* isi id disini */
#nav {
}

#footer {
}

/* class */
/* isi class disini */
/* navbar */

.header {
  background-color: #2d4059;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #2d4059;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #2d4059;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #1e2a3a;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #e5e5e5;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* media query */
/* large screen */
@media (max-width: 1200px) {
}

/* small screen */
@media (max-width: 992px) {
}

/* tablet */
@media (max-width: 768px) {
  
}
/* navbar responsive */
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

}

/* phone */
@media (max-width: 576px) {
}
