/* global */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #dbdbdb;
}

body::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

/* fonts */
.lato {
  font-family: "Lato", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* color */
.white {
  color: #fff;
}

.black {
  color: #0000;
}

.color-1 {
  color: #2d4059;
}

.color-2 {
  color: #ea5455;
}

.color-3 {
  color: #decdc3;
}

.color-4 {
  color: #e5e5e5;
}

/* main */
/* isi html tag disini */

h3{
  font-size: 2.5em;
}

a{
  text-decoration: none;
  color: black;
}

/* id */
/* isi id disini */
#nav {
}

#footer {
}

/* class */
/* isi class disini */
.header {
  background-color: #2d4059;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #2d4059;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #2d4059;
  text-decoration: none;
}

.header li a:hover,
.header .logo:hover,
.header .menu-btn:hover {
  background-color: #1b1b2f;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #e5e5e5;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* navbar responsive */
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* footer */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}



/* product */
.container{
  padding: 8em;
  margin: auto;
}

.img-main{
  width: 300px;
  height: 300px;
}

.centered{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info{
  margin: 2em;
}

.price{
  font-size: 2em;
}

.cart {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #EA5455;
  font-size: 1em;
  font-weight: 100;
  padding: 1em;
  background-color: #FFFFFF;
  border: solid #EA5455 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  
.cart:hover {
  background: #EA5455;
  border: solid #EA5455 1px;
  color: #FFFFFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 0px 20px #ea5455;
  }

.buy {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #EA5455;
  font-size: 1em;
  font-weight: 100;
  padding: 1em;
  background-color: #FFFFFF;
  border: solid #EA5455 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  }
  
.buy:hover {
  background: #EA5455;
  border: solid #EA5455 1px;
  color: #FFFFFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0px 0px 20px #ea5455;
  }

/* recommended items */
.albums{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.album{
  padding: 1em;
  margin: 1em;
  width: 200px;
  height: 250px;
}

.album-img{
  height: 200px;
  width: 200px;
  transition: 0.5s;
}

.album-img:hover{
  box-shadow: 0px 0px 15px #ea5455;
}

.hyperlink{
  max-width: 100%;
  font-size: 1.3em;
  transition: 0.2s;
}


.hyperlink:hover{
  color: white;
  background-color: #ea5455;
  border-radius: 50px;
  box-shadow: 0px 0px 20px #ea5455;
}

.recomended{
  text-align: center;
  letter-spacing: 0.3em;
}

/* media query */
/* large screen */
@media (max-width: 1200px) {
}

/* small screen */
@media (max-width: 992px) {
}

/* tablet */
@media (max-width: 768px) {
}

/* phone */
@media (max-width: 576px) {
}
